<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="title" content="{{title}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, minimum-scale=1">
        <link rel="canonical" href="{{canonical}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=block">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons&display=block">
        <link rel="stylesheet" href="/index.css">
        <title>{{title}}</title>
    </head>
    <body>
        <main class="application">
            <script defer src="/index.js"></script>
        </main>
    </body>
</html>
