<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=block">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons&display=block">
        <link rel="stylesheet" href="/index.css">
        <title>Editor</title>
    </head>
    <body>
        <main class="application">
            <script defer src="/index.js"></script>
        </main>
    </body>
</html>
